@page {
  sheet-size: 165mm 230mm;  /*   */ 
  size: 155mm 220mm; /*   */ 

  margin-left: 1.8cm; /*  */
  margin-right: 1.8cm; /*  */
  margin-top: 1.875cm; /*  */
  margin-bottom: 2.8cm; /*  */

  margin-footer: 10mm;
  odd-footer-name: html_footer-right;
  even-footer-name: html_footer-left;
  
  margin-header: 10mm; /* not changing the page margin */
  odd-header-name: html_header-right;
  even-header-name: html_header-left;         
}
body {
  font-size: 11pt; /*  */
  line-height: 140%; /*  */
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "texgyreschola"; /*  */
}

.impl {
  margin: 0;
  text-indent: 0;
}

.impl-bold {
  margin: 0;
  text-indent: 0;
  font-weight: bold;
}

.header-text {
  font-size: small; /*  */
  border-bottom: 0.05rem solid black; /*  */
}

.footer-text {
  font-size: small; /*  */
  border-top: 0.05rem solid black; /*  */
}

/* SECTIONS (or parts, as they are called in LaTeX) */
h1.section {
  font-weight: bold;
  font-size: 4rem;
  text-align: left;
  margin-top: 0;
  line-height: inherit;
  padding-top: 14rem;
  font-family: "texgyreschola"; /*  */
}

/* FRONT MATTER (half-title) **********************************************/
div.frontmatter-half-title {
  page: frontmatter;
  font-size: 2rem;
  line-height: 100%;
  padding-top: 30%;
  margin-bottom: 0;
  font-weight: normal; /*  */
  text-align: center; /*  */
  text-transform: none; /*  */
  font-family: "texgyreschola"; /*  */
}

div.frontmatter-author {
  font-weight: normal;
  font-size: 2rem;
  margin-top: 8rem;
  text-align: center; /*  */
  font-family: "texgyreschola"; /*  */
}

/* FRONT MATTER (title) *****************************************************/
div.frontmatter-title {
  font-size: 3rem;
  line-height: 100%;
  padding-top: 30%;
  margin-bottom: 0;
  text-align: center; /*  */
  font-weight: bold; /*  */
  text-transform: none; /*  */
  font-family: "im_fell_dw_pica_pro"; /*  */
}

div.frontmatter-subtitle {
  font-size: 2rem;
  line-height: 100%;
  margin-top: 4rem;
  font-weight: normal;
  text-align: center; /*  */
  font-family: "texgyreschola"; /*  */
}

div.frontmatter-author-title {
  font-size: 2rem;
  line-height: 100%;
  font-weight: normal;
  margin-top: 6rem;
  margin-bottom: 0;
  text-align: center; /*  */
  font-family: "texgyreschola"; /*  */
}

div.frontmatter-line {
  width: 33%;
  background-color: black;
  height: 0rem; /*  */
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.frontmatter-bottom {
  font-weight: normal;
  margin-top: 3rem;
  font-size: 1rem;
  line-height: 100%;
  text-align: center; /*  */
  font-family: "texgyreschola"; /*  */
}

/* Table of contents ****************************************/
div.mpdf_toc {
  font-size: 1rem;
  font-family: "texgyreschola"; /*  */
}

span.mpdf_toc_t_level_0 {
  font-weight: bold; /*  */
  text-transform: none;
}

span.mpdf_toc_t_level_1 {
  font-weight: normal;
  font-style: normal;
  text-transform: none;
}
/* Body styling ************************************************************/

h1.body-h1 {
  font-weight: bold; /*  */
  font-family: "im_fell_dw_pica_pro"; /*  */
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  line-height: 100%;
}

h2.body-h2 {
  font-weight: bold; /*  */
  font-family: "im_fell_dw_pica_pro"; /*  */
  font-weight: normal;
  font-size: 1.6rem;
  padding-top: 1rem;
  line-height: 100%;
}

h3.body-h3 {
  font-weight: bold; /*  */
  font-family: "texgyreschola"; /*  */
  font-weight: bold;
  font-size: 1rem;
  padding-top: 1rem;
  line-height: 100%;
}

h4.body-h4 {
  font-weight: normal;
  font-size: 1rem;
  padding-top: 1rem;
  line-height: 100%;
}

h5.body-h5 {
  font-weight: normal;
  font-size: 1rem;
  padding-top: 1rem;
  line-height: 100%;
}

p.body-first {
  font-weight: normal;
  font-size: 1rem;
  text-indent: 0;
  padding: 0rem; 
  margin: 0rem;
  margin-bottom: 1rem; /*  */
}

p.body, p {
  font-weight: normal;
  font-size: 1rem;
  padding: 0rem; 
  margin: 0rem;
  text-indent: 0rem; /*  */
  margin-bottom: 1rem; /*  */
}

blockquote, p.quote {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
  text-indent: 0;
  border-left: 0.5rem solid #ccc;
  margin: 2rem 0;
  padding: 0 0 0 1rem;
  display: inline;
}

ul, ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* TABLE *****************************************************************/
table {
  border-collapse: collapse;
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

caption {
  font-style: italic;
  margin-top: 1rem;
}

table, th, td {
  border: 0.05rem solid black;
}
th, td {
  padding: 0.6rem 0.8rem;
}
/* PREFORMATTED ******************************************************/
pre {
  font-size: 1rem;
  line-height: inherit;
  font-family: "texgyreschola"; /*  */
}
/* ENDNOTES **********************************************************/
sup.endnote {
  vertical-align: normal; /* usually: super, which will break the line-height */
  font-size: smaller;
}
ol.endnotes {
  margin-top: 2rem;
  padding-left: 1.2em;
}

ol.endnotes li {
  font-weight: normal;
  font-size: 0.8rem;
  line-height: inherit;
}

/* DEDICATION  ***********************************************************/
div.dedication {
  padding-top: 30%;
}

p.dedication {
  font-weight: normal;
  text-align: center;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.5rem;
  display: inline; 
  margin-left: 7rem;
  margin-right: 7rem;
}

/* IMAGE (plus captions) ************************************************/
img, div.image {
  max-width: 100%;
  height: auto;
  margin: 0px auto;
}

.group_img {
  page-break-inside: avoid;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.caption_small {
  margin-top: 1rem;
  font-size: 0.8rem;
  line-height: 1rem;
  font-style: italic;
}
.center {
  text-align: center;
}
